.container{
    margin-top: 30px !important;
    min-height: 50vh;
    /* min-width: 100vh; */
background-color: inherit;

}

.stack-item{
    background-color: inherit !important;
    box-shadow: none !important;
}

.hello-p{
    font-size: 28px !important;
    font-weight: 700;
    color: #FFFFFF;
}

.hello-name{
    color: #65E704;
    font-size: 44px !important;
    font-weight: bolder;
    line-height: 14px !important;
}

.hello-surname{
    margin-left: 40px !important;
}

.hello-stack{
    font-size: 24px !important;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 20px !important;
}


.profile-pic{
    margin-top: 10px !important;
    border-radius: 50%;
    margin-left: 30px !important;
}


.yr-count{
    font-size: 60px !important;
    font-weight: bold;
    color: #FFFFFF;
    /* margin-left: 180px !important; */
}

.yr-text{
    font-size: 30px !important;
    color: #FFFFFF;
    word-wrap: break-word;
    word-break:keep-all;
    margin-left: 10px;
}