.social-icon{
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 25px;
    
}

.MuiAppBar-root {
    background-image: linear-gradient(to right, rgb(37, 40, 43), grey) !important;
    box-shadow: none !important;
}

.first-name{
    color: 	#989898;
}